 @using Entities;
 @model Party

@{
    ViewData["Title"] = "Delete Party";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this Party?</h3>

<div>
    <h4>Party</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.PartyName</dd>
    </dl>

    <form asp-controller="Party" asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="Id" value="@Model.PartyID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
