@using Entities;
@model Product

<div class="container mt-5">
    <h2 class="mb-4">@((Model.ProductID == null) ? "Add New Product" : "Edit Product")</h2>
    <form method="post" asp-controller="Product" asp-action="AddEditProduct">
        <input type="hidden" asp-for="ProductID" />

        <div class="form-group">
            <label asp-for="ProductName" class="form-label">Product Name</label>
            <input type="text" asp-for="ProductName" class="form-control" placeholder="Enter Product Name" required />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductPrice" class="form-label">Product Price</label>
            <input type="text" asp-for="ProductPrice" class="form-control" placeholder="Enter Product Price" required />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label">Product Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="Enter Product Description" rows="4" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
